<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477776755800-fnjlpq9v47unojc4ur6rrgj3mjdab9vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477776755800-fnjlpq9v47unojc4ur6rrgj3mjdab9vm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477776755800-s1f4b8iiqtq6p239d7iq1t8dnglh05tp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFW35mx8ENNGx2mrEL96SZRuT94-gi9mM</string>
	<key>GCM_SENDER_ID</key>
	<string>477776755800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.CamellDrive</string>
	<key>PROJECT_ID</key>
	<string>camelldrive-febc1</string>
	<key>STORAGE_BUCKET</key>
	<string>camelldrive-febc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477776755800:ios:b58136776bdc7b81e69e2d</string>
</dict>
</plist>